apiVersion: elasticserving.paddlepaddle.org/v1
kind: PaddleService
metadata:
  name: paddleservice-sample
  namespace: paddleservice-system
spec:
  # Add fields here
  deploymentName: paddleservice
  runtimeVersion: paddleserving
  arg:
    python3 Serving/python/examples/lac/lac_web_service.py lac_model/ lac_workdir 9292
  service:
    minScale: 1
